<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <center>
        <h1>register</h1>
    <form>
        <label for="fname">first name:</label><br>
        <input type="text" id ="fname" name="fname" placeholder="fname"><br><br>
        <label for="lname">last name:</label><br>
        <input type="text" id ="lname" name="lname" placeholder="lname"><br><br>
        <label for="email">username:</label><br>
        <input type="email" id="email id"name="email id" value="pradhanpriyanka096@gmail.com"><br><br>
        <label for="pwd">password:</label><br>
        <input type="password"id="pwd"name="pwd"><br><br>
        <label for="cnpwd">confirm password:</label><br>
        <input type="confirm password"id="cnpwd"name="cnpwd"><br><br>
        <label for="mob">mobile:</label><br>
        <input type="text" id ="mob" name="mob" value="8117056148"><br><br>
        <label for="birthday">DOB:</label><br>
        <input type="date" id ="birthday" name="birthday"><br><br>
        <label for="gender">gender:</label><br>
        <input type="radio" id ="male" name="male" value="male">male
        <input type="radio" id ="female" name="female" value="female">female
        <input type="radio" id ="transgender" name="transgender" value="transgender">transgender <br><br>
        <label for="country">country:</label><br>
        <select name="country" id ="country"><br><br>
         <option value="India">India</option>
         <option value="france">france</option>
         <option value="germany">germany</option>
         <option value="china">china</option>
         <option value="south korea">south korea</option>
        </select>
        <br><br>
        <label for="address">Address:</label>
        <textarea name="address" id="address" cols="10" rows="10" placeholder="enter your address"></textarea>
        <br>
        <input type="checkbox" name="correct" value="on"> check all the information is correct or not.
        <br><br>
        
        <input type="button" value="submit"></a>   
        <input type="button" value="cancel">

    </form>
    </center>
    
</body>
</html>